.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post-body {
  flex: 1;
  padding: 10px;
}

.post-body > img {
  border-radius: 20px;
}

.post-badge {
  color: var(--twitter-color);
  font-size: 14px !important;
  margin-left: 5px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-headerspecial {
  font-weight: 600;
  font-size: 12px;
  color: grey;
}

.post-header-text > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.header-description {
  margin-bottom: 10px;
  font-size: 15px;
}

.post-avatar {
  padding: 20px;
}
