.sidebaroptions {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebaroptions > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebaroptions > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebaroptions:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 200ms ease-out;
}

.sidebarOption-active {
  color: var(--twitter-color);
}
