.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetbox > form {
  display: flex;
  flex-direction: column;
}

.tweetbox-input {
  display: flex;
  padding: 20px;
}

.tweetbox-input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetbox-button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px !important;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.tweetbox-image {
  border: none;
  padding: 10px;
}
