.widgets {
  flex: 0.3;
}

.widgets-input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets-input > input {
  border: none;
  background-color: var(--twitter-background);
}

.widgets-searchIcon {
  color: gray;
}

.widgets-container {
  margin: 10px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets-container > h2 {
  font-size: 18px;
}
